@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body { 
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    justify-content: center;
    flex-direction: column;
    align-items: center ;
    margin: 1.5rem;
    display: flex;
    min-height: 100vh;
}

button {
    font-family: inherit;
}

.main-container, 
.thank-you {
    background-color: hsl(213, 19%, 18%);
    padding: 1.5rem;
    border-radius: 0.625rem;
    max-width: 400px;
} 

.main-container img {
    background-color: hsl(213, 20%, 22%);
    padding: 0.5rem;
    border-radius: 50%;
}

.main-container h1 {
    color: #ffff;
    margin: 2rem 0 1;
}

.main-container p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}

.main-container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.main-container ul button {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: hsl(213, 20%, 22%);
    border-radius: 50%; /* Para que sea redondo */
    color:#ffff;
    cursor: pointer;
    transition: 0.3s;
}

/* transicion de cambio de color */
.main-container ul button:hover {
    background-color: hsl(217, 12%, 63%)
}

.main-container ul button:focus {
    background-color: hsl(25, 97%, 53%);
}

.btn-submit {
    cursor: pointer;
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    padding: 0.8rem 0 0.6rem;
    border-radius: 30px;
    border: none;
    text-transform:uppercase; /* texto todo en Mayus */
    letter-spacing: 0.2rem; /* Espacio entre letras */
    transition: 0.3rem;
}

.btn-submit:hover {
    color:hsl(25, 97%, 53%);
    background-color: #ffff;
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thank-you img {
    display: block;
    margin: 0 auto 2rem;
}

.thank-you p.gray {
    background-color: hsl(213, 20%, 22%);
    color:hsl(25, 97%, 53%); ;
    border-radius: 30px;
    margin: 10px;
    padding: 0.2rem 0.6rem 0;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: #ffff;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}